@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-title {
  //animation: fadeIn 0.8s ease-in-out;
  max-width: 1200px;
  width: 100%;
}

/* 내부 요소 정렬 */
.header-content {
  display: flex;
}
